<% content_for :title, "Badge - Lucky  UI" %>

<div class="flex flex-col mb-8">
    <span class="text-sm mb-2 text-zinc-500">Interface</span>
    <h1 class="text-4xl font-bold mb-4 text-zinc-900">Badge</h1>
    <p>Bottom left is default.</p>
</div>

<div class="pb-16">
    <div class="flex flex-wrap items-center justify-center gap-3 mb-8">
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-sm py-1 rounded-full px-2.5 text-zinc-900 bg-zinc-100">
            <span>Default</span>
        </div>
    </div>
</div>

<div class="pb-16">
    <div class="flex flex-wrap items-center justify-center gap-3 mb-8 mx-auto max-w-xl">
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-xs py-1 rounded-full px-2.5 text-zinc-900 bg-zinc-100">
            <span>Zinc</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-xs py-1 rounded-full px-2.5 text-red-900 bg-red-100">
            <span>Red</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-xs py-1 rounded-full px-2.5 text-orange-900 bg-orange-100">
            <span>Orange</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-xs py-1 rounded-full px-2.5 text-amber-900 bg-amber-100">
            <span>Amber</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-xs py-1 rounded-full px-2.5 text-yellow-900 bg-yellow-100">
            <span>Yellow</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-xs py-1 rounded-full px-2.5 text-lime-900 bg-lime-100">
            <span>Lime</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-xs py-1 rounded-full px-2.5 text-green-900 bg-green-100">
            <span>Green</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-xs py-1 rounded-full px-2.5 text-emerald-900 bg-emerald-100">
            <span>Emerald</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-xs py-1 rounded-full px-2.5 text-teal-900 bg-teal-100">
            <span>Teal</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-xs py-1 rounded-full px-2.5 text-cyan-900 bg-cyan-100">
            <span>Cyan</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-xs py-1 rounded-full px-2.5 text-sky-900 bg-sky-100">
            <span>Sky</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-xs py-1 rounded-full px-2.5 text-blue-900 bg-blue-100">
            <span>Blue</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-xs py-1 rounded-full px-2.5 text-indigo-900 bg-indigo-100">
            <span>Indigo</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-xs py-1 rounded-full px-2.5 text-violet-900 bg-violet-100">
            <span>Violet</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-xs py-1 rounded-full px-2.5 text-purple-900 bg-purple-100">
            <span>Purple</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-xs py-1 rounded-full px-2.5 text-fuchsia-900 bg-fuchsia-100">
            <span>Fuchsia</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-xs py-1 rounded-full px-2.5 text-pink-900 bg-pink-100">
            <span>Pink</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-xs py-1 rounded-full px-2.5 text-rose-900 bg-rose-100">
            <span>Rose</span>
        </div>
    </div>
</div>

<div class="pb-16">
    <div class="flex flex-wrap items-center justify-center gap-3 mb-8 mx-auto max-w-2xl">
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-sm py-1 rounded-full px-2.5 text-zinc-900 bg-zinc-100">
            <span>Zinc</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-sm py-1 rounded-full px-2.5 text-red-900 bg-red-100">
            <span>Red</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-sm py-1 rounded-full px-2.5 text-orange-900 bg-orange-100">
            <span>Orange</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-sm py-1 rounded-full px-2.5 text-amber-900 bg-amber-100">
            <span>Amber</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-sm py-1 rounded-full px-2.5 text-yellow-900 bg-yellow-100">
            <span>Yellow</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-sm py-1 rounded-full px-2.5 text-lime-900 bg-lime-100">
            <span>Lime</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-sm py-1 rounded-full px-2.5 text-green-900 bg-green-100">
            <span>Green</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-sm py-1 rounded-full px-2.5 text-emerald-900 bg-emerald-100">
            <span>Emerald</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-sm py-1 rounded-full px-2.5 text-teal-900 bg-teal-100">
            <span>Teal</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-sm py-1 rounded-full px-2.5 text-cyan-900 bg-cyan-100">
            <span>Cyan</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-sm py-1 rounded-full px-2.5 text-sky-900 bg-sky-100">
            <span>Sky</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-sm py-1 rounded-full px-2.5 text-blue-900 bg-blue-100">
            <span>Blue</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-sm py-1 rounded-full px-2.5 text-indigo-900 bg-indigo-100">
            <span>Indigo</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-sm py-1 rounded-full px-2.5 text-violet-900 bg-violet-100">
            <span>Violet</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-sm py-1 rounded-full px-2.5 text-purple-900 bg-purple-100">
            <span>Purple</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-sm py-1 rounded-full px-2.5 text-fuchsia-900 bg-fuchsia-100">
            <span>Fuchsia</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-sm py-1 rounded-full px-2.5 text-pink-900 bg-pink-100">
            <span>Pink</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-sm py-1 rounded-full px-2.5 text-rose-900 bg-rose-100">
            <span>Rose</span>
        </div>
    </div>
</div>

<div class="pb-16">
    <div class="flex flex-wrap items-center justify-center gap-3 mb-8">
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-xs py-1 rounded-full px-2.5 text-zinc-900 bg-zinc-100">
            <%= icon "user", class: "size-3" %>
            <span>Users</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-xs py-1 rounded-full px-2.5 text-orange-900 bg-orange-100">
            <%= icon "file", class: "size-3" %>
            <span>Files</span>
        </div>
    </div>
    <div class="flex flex-wrap items-center justify-center gap-3 mb-8">
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-sm py-1 rounded-full px-2.5 text-green-900 bg-green-100">
            <%= icon "bookmark" %>
            <span>Bookmarks</span>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-sm py-1 rounded-full px-2.5 text-blue-900 bg-blue-100">
            <%= icon "calendar-week" %>
            <span>Calendar</span>
        </div>
    </div>
</div>

<div class="pb-16">
    <div class="flex flex-wrap items-center justify-center gap-3 mb-8">
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-xs py-1 rounded-full px-2.5 text-zinc-900 bg-zinc-100">
            <span>Admin</span>
            <button type="button" class="p-1 -my-2 -ml-1 -mr-1.5 opacity-60 hover:opacity-100 cursor-pointer">
                <%= icon "x", class: "size-3" %>
            </button>
        </div>
        <div class="inline-flex items-center gap-1 font-medium whitespace-nowrap text-sm py-1 rounded-full px-2.5 text-zinc-900 bg-zinc-100">
            <span>Admin</span>
            <button type="button" class="p-1 -my-2 -ml-1 -mr-1.5 opacity-60 hover:opacity-100 cursor-pointer">
                <%= icon "x" %>
            </button>
        </div>
    </div>
</div>