<% content_for :title, "Badge - Lucky  UI" %>

<div class="flex flex-col mb-8">
    <span class="text-sm mb-2 text-zinc-500">Interface</span>
    <h1 class="text-4xl font-bold mb-4 text-zinc-800">Badge</h1>
    <p>Bottom left is default.</p>
</div>

<div class="pb-16">
    <div class="flex flex-wrap items-center justify-center gap-3 mb-8">
        <!-- Default badge -->
        <%= render(BadgeComponent.new) { "Default" } %>
    </div>
</div>

<div class="pb-16">
    <!-- All the colors in the default size -->
    <div class="flex flex-wrap items-center justify-center gap-3 mb-8 mx-auto max-w-xl">
        <%= render(BadgeComponent.new(color: :zinc)) { "Zinc" } %>
        <%= render(BadgeComponent.new(color: :red)) { "Red" } %>
        <%= render(BadgeComponent.new(color: :orange)) { "Orange" } %>
        <%= render(BadgeComponent.new(color: :amber)) { "Amber" } %>
        <%= render(BadgeComponent.new(color: :yellow)) { "Yellow" } %>
        <%= render(BadgeComponent.new(color: :lime)) { "Lime" } %>
        <%= render(BadgeComponent.new(color: :green)) { "Green" } %>
        <%= render(BadgeComponent.new(color: :emerald)) { "Emerald" } %>
        <%= render(BadgeComponent.new(color: :teal)) { "Teal" } %>
        <%= render(BadgeComponent.new(color: :cyan)) { "Cyan" } %>
        <%= render(BadgeComponent.new(color: :sky)) { "Sky" } %>
        <%= render(BadgeComponent.new(color: :blue)) { "Blue" } %>
        <%= render(BadgeComponent.new(color: :indigo)) { "Indigo" } %>
        <%= render(BadgeComponent.new(color: :violet)) { "Violet" } %>
        <%= render(BadgeComponent.new(color: :purple)) { "Purple" } %>
        <%= render(BadgeComponent.new(color: :fuchsia)) { "Fuchsia" } %>
        <%= render(BadgeComponent.new(color: :pink)) { "Pink" } %>
        <%= render(BadgeComponent.new(color: :rose)) { "Rose" } %>
    </div>
</div>

<div class="pb-16">
    <!-- All the colors again in the large size -->
    <div class="flex flex-wrap items-center justify-center gap-3 mb-8 mx-auto max-w-2xl">
        <%= render(BadgeComponent.new(color: :zinc, size: :large)) { "Zinc" } %>
        <%= render(BadgeComponent.new(color: :red, size: :large)) { "Red" } %>
        <%= render(BadgeComponent.new(color: :orange, size: :large)) { "Orange" } %>
        <%= render(BadgeComponent.new(color: :amber, size: :large)) { "Amber" } %>
        <%= render(BadgeComponent.new(color: :yellow, size: :large)) { "Yellow" } %>
        <%= render(BadgeComponent.new(color: :lime, size: :large)) { "Lime" } %>
        <%= render(BadgeComponent.new(color: :green, size: :large)) { "Green" } %>
        <%= render(BadgeComponent.new(color: :emerald, size: :large)) { "Emerald" } %>
        <%= render(BadgeComponent.new(color: :teal, size: :large)) { "Teal" } %>
        <%= render(BadgeComponent.new(color: :cyan, size: :large)) { "Cyan" } %>
        <%= render(BadgeComponent.new(color: :sky, size: :large)) { "Sky" } %>
        <%= render(BadgeComponent.new(color: :blue, size: :large)) { "Blue" } %>
        <%= render(BadgeComponent.new(color: :indigo, size: :large)) { "Indigo" } %>
        <%= render(BadgeComponent.new(color: :violet, size: :large)) { "Violet" } %>
        <%= render(BadgeComponent.new(color: :purple, size: :large)) { "Purple" } %>
        <%= render(BadgeComponent.new(color: :fuchsia, size: :large)) { "Fuchsia" } %>
        <%= render(BadgeComponent.new(color: :pink, size: :large)) { "Pink" } %>
        <%= render(BadgeComponent.new(color: :rose, size: :large)) { "Rose" } %>
    </div>
</div>

<!-- Examples of badges with icons -->
<div class="pb-16">
    <div class="flex flex-wrap items-center justify-center gap-3 mb-8">
        <%= render(BadgeComponent.new(color: :zinc, icon: "user")) { "Users" } %>
        <%= render(BadgeComponent.new(color: :orange, icon: "file")) { "Files" } %>
    </div>
    <div class="flex flex-wrap items-center justify-center gap-3 mb-8">
        <%= render(BadgeComponent.new(color: :green, size: :large, icon: "bookmark")) { "Bookmarks" } %>
        <%= render(BadgeComponent.new(color: :blue, size: :large, icon: "calendar-week")) { "Calendar" } %>
    </div>
</div>

<!-- Examples of badges with a close button -->
<div class="pb-16">
    <div class="flex flex-wrap items-center justify-center gap-3 mb-8">
        <%= render(BadgeComponent.new(color: :zinc, icon: nil, closable: true)) { "Admin" } %>
        <%= render(BadgeComponent.new(color: :zinc, size: :large, icon: nil, closable: true)) { "Admin" } %>
    </div>
</div>