<% content_for :title, "Icon - Lucky  UI" %>

<div class="flex flex-col mb-8">
    <span class="text-sm mb-2 text-zinc-500">Controls</span>
    <h1 class="text-4xl font-bold mb-4 text-zinc-900">Icon</h1>
    <p>Tabs organize and allow navigation between groups of content that are related and at the same level of hierarchy.</p>
    <p>Icons from Tabler. Logos from Remix. Find names for both on their websites. rails-icons gem. Refer to setup page. Add classes including text color to change color. Default to outline.</p>
</div>

<div class="mt-16">
    <div class="flex justify-center gap-2">
        <%= icon "balloon" %>
        <%= icon "barrier-block" %>
        <%= icon "campfire" %>
        <%= icon "message" %>
        <%= icon "diamond" %>
        <%= icon "bookmarks" %>
        <%= icon "confetti" %>
        <%= icon "info-circle" %>
        <%= icon "binoculars" %>
        <%= icon "flag" %>
        <%= icon "flask-2" %>
        <%= icon "versions" %>
        <%= icon "star" %>
        <%= icon "apps" %>
        <%= icon "calendar-week" %>
        <%= icon "trash" %>
        <%= icon "seedling" %>
        <%= icon "tags" %>
        <%= icon "user" %>
    </div>
</div>

<div class="mt-16">
    <div class="flex justify-center gap-2">
        <%= icon "balloon", variant: "filled" %>
        <%= icon "barrier-block", variant: "filled" %>
        <%= icon "campfire", variant: "filled" %>
        <%= icon "message", variant: "filled" %>
        <%= icon "diamond", variant: "filled" %>
        <%= icon "bookmarks", variant: "filled" %>
        <%= icon "confetti", variant: "filled" %>
        <%= icon "info-circle", variant: "filled" %>
        <%= icon "binoculars", variant: "filled" %>
        <%= icon "flag", variant: "filled" %>
        <%= icon "flask-2", variant: "filled" %>
        <%= icon "versions", variant: "filled" %>
        <%= icon "star", variant: "filled" %>
        <%= icon "apps", variant: "filled" %>
        <%= icon "calendar-week", variant: "filled" %>
        <%= icon "trash", variant: "filled" %>
        <%= icon "seedling", variant: "filled" %>
        <%= icon "tags", variant: "filled" %>
        <%= icon "user", variant: "filled" %>
    </div>
</div>

<div class="mt-16">
    <div class="flex justify-center gap-2">
        <%= icon "discord-fill", library: "logos" %>
        <%= icon "anthropic-fill", library: "logos" %>
        <%= icon "notion-fill", library: "logos" %>
        <%= icon "mastodon-fill", library: "logos" %>
        <%= icon "apple-fill", library: "logos" %>
        <%= icon "slack-fill", library: "logos" %>
        <%= icon "github-fill", library: "logos" %>
        <%= icon "youtube-fill", library: "logos" %>
    </div>
</div>

<div class="mt-16">
    <div class="flex justify-center gap-2">
        <%= icon "settings", class: "size-4" %>
        <%= icon "settings", class: "size-6" %>
        <%= icon "settings", class: "size-8" %>
        <%= icon "settings", class: "size-10" %>
    </div>
</div>

<div class="mt-16">
    <div class="flex justify-center gap-2">
        <%= icon "faded-spinner", library: "animated", class: "size-4" %>
        <%= icon "trailing-spinner", library: "animated", class: "size-4" %>
        <%= icon "fading-dots", library: "animated", class: "size-4" %>
        <%= icon "bouncing-dots", library: "animated", class: "size-4" %>
    </div>
</div>