<% content_for :title, "Tabs - Lucky  UI" %>
<div class="pb-16">
    <div class="flex flex-col">
        <span class="text-sm mb-2 text-zinc-500">Sections</span>
        <h1 class="text-4xl font-bold mb-4 text-zinc-900">Tabs</h1>
        <p>Tabs organize and allow navigation between groups of content that are related and at the same level of hierarchy. These tabs can be navigated with the keyboard using Left, Right, Home, and End.</p>
    </div>

    <section class="mt-16">
        <div class="flex items-center gap-2 mb-3">
            <h3 class="inline-block text-xl font-semibold text-zinc-900">Segmented</h3>
            <span class="inline-block rounded-full bg-emerald-50 px-2 py-1 text-xs font-semibold text-emerald-600"> Requires JS </span>
        </div>
        <div class="rounded-2xl border border-zinc-200 bg-white">
            <!-- Preview section -->
            <div class="px-6 py-16 overflow-x-auto">
                <div class="m-auto max-w-full max-lg:min-w-fit lg:max-w-96  flex justify-center">
                    <div class="w-full flex justify-center gap-2">
                        <!-- Preview inside this div -->
                        <div>
                            <div x-data="{ activeTab:  0 }">
                                <div class="overflow-hidden rounded-xl bg-zinc-100 p-2">
                                    <ul class="flex items-center gap-2 text-sm font-medium">
                                        <li>
                                            <a @click="activeTab = 0" :class="{ 'bg-white shadow text-zinc-700': activeTab === 0 }" class="inline-flex cursor-pointer items-center gap-2 rounded-lg px-3 py-2 hover:bg-white border border-transparent hover:text-zinc-700 hover:shadow"> Profile</a>
                                        </li>
                                        <li>
                                            <a @click="activeTab = 1" :class="{ 'bg-white shadow text-zinc-700': activeTab === 1 }" class="inline-flex cursor-pointer items-center gap-2 rounded-lg px-3 py-2 hover:bg-white border border-transparent hover:text-zinc-700 hover:shadow"> Preferences</a>
                                        </li>
                                        <li>
                                            <a @click="activeTab = 2" :class="{ 'bg-white shadow text-zinc-700': activeTab === 2 }" class="inline-flex cursor-pointer items-center gap-2 rounded-lg px-3 py-2 hover:bg-white border border-transparent hover:text-zinc-700 hover:shadow">
                                                Notifications
                                                <span class="rounded-full bg-zinc-200 px-2 py-0.5 text-xs font-semibold "> 8 </span></a>
                                        </li>
                                        <li>
                                            <a @click="activeTab = 3" :class="{ 'bg-white shadow text-zinc-700': activeTab === 3 }" class="inline-flex cursor-pointer items-center gap-2 rounded-lg px-3 py-2 hover:bg-white border border-transparent hover:text-zinc-700 hover:shadow"> Applications</a>
                                        </li>
                                        <li>
                                            <a @click="activeTab = 4" :class="{ 'bg-white shadow text-zinc-700': activeTab === 4 }" class="inline-flex cursor-pointer items-center gap-2 rounded-lg px-3 py-2 hover:bg-white border border-transparent hover:text-zinc-700 hover:shadow"> API</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="py-3">
                                    <div :class="{ '!block': activeTab === 0 }" x-show.transition.in.opacity.duration.600="activeTab === 0" class="hidden">Profile tab content</div>
                                    <div :class="{ '!block': activeTab === 1 }" x-show.transition.in.opacity.duration.600="activeTab === 1" class="hidden">Preferences tab content</div>
                                    <div :class="{ '!block': activeTab === 2 }" x-show.transition.in.opacity.duration.600="activeTab === 2" class="hidden">Notifications tab content</div>
                                    <div :class="{ '!block': activeTab === 3 }" x-show.transition.in.opacity.duration.600="activeTab === 3" class="hidden">Applications tab content</div>
                                    <div :class="{ '!block': activeTab === 4 }" x-show.transition.in.opacity.duration.600="activeTab === 4" class="hidden">API tab content</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Code section -->
            <div class="relative rounded-b-2xl overflow-hidden flex max-h-80 bg-zinc-50 border-t border-zinc-200">
                <div class="absolute top-0 right-0 pt-[11px] pr-[11px] z-1">
                    <!-- Needs a tooltip on hover and a confirmation when you click it -->
                    <button type="button" class="relative items-center font-medium justify-center gap-2 cursor-pointer whitespace-nowrap disabled:opacity-75 disabled:cursor-default disabled:pointer-events-none h-8 text-sm rounded-md w-8 inline-flex bg-white hover:bg-zinc-100 text-zinc-800 shadow-sm">
                        <%= render 'shared/copyicon' %>
                    </button>
                    <div popover="manual" class="relative py-2 px-2.5 rounded-md text-xs text-white font-medium bg-zinc-800 p-0 overflow-visible" data-flux-tooltip-content="" id="lofi-tooltip-145e57b3415b5" aria-hidden="true" role="tooltip">
                        Copy to clipboard
                    </div>
                </div>
                <div class="text-sm min-w-full max-h-full overflow-auto" style="scrollbar-width: thin;">
                    <div>
                        <!-- Insert code -->
                        <pre><code class="language-html p-6 leading-[1.7] bg-zinc-50 text-zinc-700 text-sm font-mono">&lt;div data-controller=&quot;tabs&quot; data-tabs-active-index-value=&quot;0&quot; data-tabs-active-tab-class-value=&quot;bg-white shadow-md&quot; data-tabs-inactive-tab-class-value=&quot;&quot;&gt;
    &lt;div class=&quot;overflow-hidden inline-block rounded-xl p-1.5 bg-zinc-100&quot;&gt;
        &lt;ul class=&quot;flex items-center gap-1.5 font-medium text-sm&quot; data-action=&quot;keydown-&gt;tabs#onKeydown&quot; role=&quot;tablist&quot;&gt;
            &lt;li&gt;
                &lt;a href=&quot;#&quot; data-action=&quot;click-&gt;tabs#selectTab&quot; data-tabs-index-param=&quot;0&quot; data-tabs-target=&quot;tab&quot; class=&quot;inline-flex cursor-pointer items-center gap-2 rounded-lg px-3 py-1.5 hover:bg-white hover:shadow-sm transition-all duration-200&quot;&gt;
                    Preview
                &lt;/a&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href=&quot;#&quot; data-action=&quot;click-&gt;tabs#selectTab&quot; data-tabs-index-param=&quot;1&quot; data-tabs-target=&quot;tab&quot; class=&quot;inline-flex cursor-pointer items-center gap-2 rounded-lg px-3 py-1.5 hover:bg-white hover:shadow-sm transition-all duration-200&quot;&gt;
                    Code
                &lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class=&quot;py-3&quot;&gt;
        &lt;div data-tabs-target=&quot;panel&quot;&gt;
            &lt;div class=&quot;border border-zinc-200 rounded-xl&quot; style=&quot;height:200px&quot;&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;div data-tabs-target=&quot;panel&quot; hidden&gt;
            &lt;div class=&quot;rounded-xl&quot;&gt;
                &lt;pre class=&quot;flex overflow-auto rounded-b-lg p-4 text-sm/6 sm:rounded-t-lg language-html bg-zinc-100&quot;&gt;
                    &lt;code class=&quot;language-html&quot; data-lang=&quot;html&quot;&gt;
                &lt;div&gt;stuff&lt;/div&gt;
                    &lt;/code&gt;
                &lt;/pre&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-16">
        <div class="flex items-center gap-2 mb-3">
            <h3 class="inline-block text-xl font-semibold text-zinc-900">Underline</h3>
            <span class="inline-block rounded-full bg-emerald-50 px-2 py-1 text-xs font-semibold text-emerald-600"> Requires JS </span>
        </div>
        <div class="rounded-2xl border border-zinc-200 bg-white">
            <!-- Preview section -->
            <div class="px-6 py-16 overflow-x-auto">
                <div class="m-auto max-w-full max-lg:min-w-fit lg:max-w-96  flex justify-center">
                    <div class="w-full flex justify-center gap-2">
                        <!-- Preview inside this div -->
                        <div>
                            <div x-data="{ activeTab:  0 }">
                                <div class="border-b border-b-zinc-200">
                                    <ul class="-mb-px flex items-center gap-4 text-sm font-medium text-zinc-500">
                                        <li>
                                            <a @click="activeTab = 0" :class="{ 'relative text-blue-700 after:absolute after:left-0 after:bottom-0 after:h-0.5 after:w-full after:bg-blue-700': activeTab === 0 }" class="inline-flex cursor-pointer items-center gap-2 px-1 py-3 hover:text-blue-700">
                                                <%= icon "user", variant: "filled", class: "size-4" %>
                                                Profile</a>
                                        </li>
                                        <li>
                                            <a @click="activeTab = 1" :class="{ 'relative text-blue-700 after:absolute after:left-0 after:bottom-0 after:h-0.5 after:w-full after:bg-blue-700': activeTab === 1 }" class="inline-flex cursor-pointer items-center gap-2 px-1 py-3 hover:text-blue-700">
                                                <%= icon "adjustments", class: "size-4" %>
                                                Preferences</a>
                                        </li>
                                        <li>
                                            <a @click="activeTab = 2" :class="{ 'relative text-blue-700 after:absolute after:left-0 after:bottom-0 after:h-0.5 after:w-full after:bg-blue-700': activeTab === 2 }" class="inline-flex cursor-pointer items-center gap-2 px-1 py-3 hover:text-blue-700">
                                                <%= icon "bell", variant: "filled", class: "size-4" %>
                                                Notifications
                                                <span class="rounded-full bg-zinc-200 px-2 py-0.5 text-xs font-semibold text-zinc-600"> 8 </span></a>
                                        </li>
                                        <li>
                                            <a @click="activeTab = 3" :class="{ 'relative text-blue-700 after:absolute after:left-0 after:bottom-0 after:h-0.5 after:w-full after:bg-blue-700': activeTab === 3 }" class="inline-flex cursor-pointer items-center gap-2 px-1 py-3 hover:text-blue-700">
                                                <%= icon "apps", variant: "filled", class: "size-4" %>
                                                Applications</a>
                                        </li>
                                        <li>
                                            <a @click="activeTab = 4" :class="{ 'relative text-blue-700 after:absolute after:left-0 after:bottom-0 after:h-0.5 after:w-full after:bg-blue-700': activeTab === 4 }" class="inline-flex cursor-pointer items-center gap-2 px-1 py-3 hover:text-blue-700">
                                                <%= icon "cube", class: "size-4" %>
                                                API</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="py-3">
                                    <div :class="{ '!block': activeTab === 0 }" x-show.transition.in.opacity.duration.600="activeTab === 0" class="hidden">Profile tab content</div>
                                    <div :class="{ '!block': activeTab === 1 }" x-show.transition.in.opacity.duration.600="activeTab === 1" class="hidden">Preferences tab content</div>
                                    <div :class="{ '!block': activeTab === 2 }" x-show.transition.in.opacity.duration.600="activeTab === 2" class="hidden">Notifications tab content</div>
                                    <div :class="{ '!block': activeTab === 3 }" x-show.transition.in.opacity.duration.600="activeTab === 3" class="hidden">Applications tab content</div>
                                    <div :class="{ '!block': activeTab === 4 }" x-show.transition.in.opacity.duration.600="activeTab === 4" class="hidden">API tab content</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Code section -->
            <div class="relative rounded-b-2xl overflow-hidden flex max-h-80 bg-zinc-50 border-t border-zinc-200">
                <div class="absolute top-0 right-0 pt-[11px] pr-[11px] z-1">
                    <!-- Needs a tooltip on hover and a confirmation when you click it -->
                    <button type="button" class="relative items-center font-medium justify-center gap-2 cursor-pointer whitespace-nowrap disabled:opacity-75 disabled:cursor-default disabled:pointer-events-none h-8 text-sm rounded-md w-8 inline-flex bg-white hover:bg-zinc-100 text-zinc-800 shadow-sm">
                        <%= render 'shared/copyicon' %>
                    </button>
                    <div popover="manual" class="relative py-2 px-2.5 rounded-md text-xs text-white font-medium bg-zinc-800 p-0 overflow-visible" data-flux-tooltip-content="" id="lofi-tooltip-145e57b3415b5" aria-hidden="true" role="tooltip">
                        Copy to clipboard
                    </div>
                </div>
                <div class="text-sm min-w-full max-h-full overflow-auto" style="scrollbar-width: thin;">
                    <div>
                        <!-- Insert code -->
                        <pre><code class="language-html p-6 leading-[1.7] bg-zinc-50 text-zinc-700 text-sm font-mono">&lt;div data-controller=&quot;tabs&quot; data-tabs-active-index-value=&quot;0&quot; data-tabs-active-tab-class-value=&quot;bg-white shadow-md&quot; data-tabs-inactive-tab-class-value=&quot;&quot;&gt;
            &lt;div class=&quot;overflow-hidden inline-block rounded-xl p-1.5 bg-zinc-100&quot;&gt;
                &lt;ul class=&quot;flex items-center gap-1.5 font-medium text-sm&quot; data-action=&quot;keydown-&gt;tabs#onKeydown&quot; role=&quot;tablist&quot;&gt;
                    &lt;li&gt;
                        &lt;a href=&quot;#&quot; data-action=&quot;click-&gt;tabs#selectTab&quot; data-tabs-index-param=&quot;0&quot; data-tabs-target=&quot;tab&quot; class=&quot;inline-flex cursor-pointer items-center gap-2 rounded-lg px-3 py-1.5 hover:bg-white hover:shadow-sm transition-all duration-200&quot;&gt;
                            Preview
                        &lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li&gt;
                        &lt;a href=&quot;#&quot; data-action=&quot;click-&gt;tabs#selectTab&quot; data-tabs-index-param=&quot;1&quot; data-tabs-target=&quot;tab&quot; class=&quot;inline-flex cursor-pointer items-center gap-2 rounded-lg px-3 py-1.5 hover:bg-white hover:shadow-sm transition-all duration-200&quot;&gt;
                            Code
                        &lt;/a&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
            &lt;div class=&quot;py-3&quot;&gt;
                &lt;div data-tabs-target=&quot;panel&quot;&gt;
                    &lt;div class=&quot;border border-zinc-200 rounded-xl&quot; style=&quot;height:200px&quot;&gt;&lt;/div&gt;
                &lt;/div&gt;
                &lt;div data-tabs-target=&quot;panel&quot; hidden&gt;
                    &lt;div class=&quot;rounded-xl&quot;&gt;
                        &lt;pre class=&quot;flex overflow-auto rounded-b-lg p-4 text-sm/6 sm:rounded-t-lg language-html bg-zinc-100&quot;&gt;
                            &lt;code class=&quot;language-html&quot; data-lang=&quot;html&quot;&gt;
                        &lt;div&gt;stuff&lt;/div&gt;
                            &lt;/code&gt;
                        &lt;/pre&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-16">
        <h3 class="text-xl font-semibold mb-3 text-zinc-900">Usage</h3>
        <p>Follow the installation instructions on the How to Use page.</p>
        <p>The JS is inspired by the tabs in the <a href="https://github.com/excid3/tailwindcss-stimulus-components" class="">tailwindcss-stimulus-components</a> library.</p>
        <p>https://github.com/excid3/tailwindcss-stimulus-components/blob/main/docs/tabs.md</p>

        <div class="mt-6">
            <div class="relative">
                <div class="absolute top-0 right-0 pt-[13px] pr-[13px] z-1">
                    <!-- Needs a tooltip on hover and a confirmation when you click it -->
                    <button type="button" class="relative items-center font-medium justify-center gap-2 cursor-pointer whitespace-nowrap disabled:opacity-75 disabled:cursor-default disabled:pointer-events-none h-8 text-sm rounded-md w-8 inline-flex bg-white hover:bg-zinc-100 text-zinc-800 shadow-sm">
                        <%= render 'shared/copyicon' %>
                    </button>
                </div>
                <pre><code class="language-ruby block border border-zinc-200 rounded-xl py-4 px-6 leading-[1.7] bg-zinc-50 text-zinc-700 text-sm font-mono overflow-scroll">thing</code></pre>
            </div>
        </div>
    </section>
</div>