<nav class="fixed bottom-0 right-auto top-0 z-20 hidden w-60 overflow-y-auto border-r pb-10 pt-16 lg:block border-gray-200">
    <div class="relative overflow-hidden h-full py-6 lg:py-8">
        <div class="h-full w-full rounded-[inherit]">
            <div class="relative">

                <!-- Getting Started -->
                <div class="mb-8">
                    <h4 class="mb-2 w-full cursor-default"><span class="text-base font-bold md:text-sm">Getting Started</span></h4>
                    <ul class="flex flex-col gap-1">
                        <li><%= link_to root_path, class: "#{ current_page?(root_path) ? 'bg-gray-100' : 'hover:bg-gray-100' } relative mr-4 block rounded-md py-2 px-4 transition-all duration-150 md:text-sm" do %>Introduction<% end %></li>
                        <!-- <div class="absolute top-1/2 left-2 h-4 w-0.5 -translate-y-1/2 rounded-full bg-gray-700"></div> -->
                        <li><%= link_to how_to_use_path, class: "#{ current_page?(how_to_use_path) ? 'bg-gray-100' : 'hover:bg-gray-100' } relative mr-4 block rounded-md py-2 px-4 transition-all duration-150 md:text-sm" do %>How to use<% end %></li>
                        <li><%= link_to contribution_path, class: "#{ current_page?(contribution_path) ? 'bg-gray-100 ' : ' hover:bg-gray-100' } relative mr-4 block rounded-md py-2 px-4 transition-all duration-150 md:text-sm" do %>Contribution<% end %></li>
                    </ul>
                </div>

                <!-- Sections -->
                <div class="mb-8">
                    <h4 class="mb-2 w-full cursor-default"><span class="text-base font-bold md:text-sm">Sections</span></h4>
                    <ul class="flex flex-col gap-1">
                        <li><%= link_to components_tab_path, class: "#{ current_page?(components_tab_path) ? 'bg-gray-100' : 'hover:bg-gray-100' } relative mr-4 block rounded-md py-2 px-4 transition-all duration-150 md:text-sm" do %>Tab<% end %></li>
                        <li><%= link_to components_button_path, class: "#{ current_page?(components_button_path) ? 'bg-gray-100' : 'hover:bg-gray-100' } relative mr-4 block rounded-md py-2 px-4 transition-all duration-150 md:text-sm" do %>Button<% end %></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</nav>