<nav data-nav-target="menu" class="menu fixed bottom-0 right-auto top-0 z-20 w-full hidden lg:w-60 overflow-y-auto border-r pb-10 pt-18 lg:pt-22 lg:block border-zinc-200 bg-white">
    <div class="relative overflow-hidden h-full py-6 mdpy-8 text-zinc-500">
        <div class="h-full w-full">

            <!-- Getting Started -->
            <div class="flex flex-col gap-3 mb-7">
                <h3 class="text-zinc-500 md:text-sm">Getting Started</h3>
                <ul class="text-zinc-500 flex flex-col gap-3 md:gap-2 border-l-2 border-zinc-200" role="list">
                    <li class="-ml-[2px]"><%= link_to root_path, class: "#{ current_page?(root_path) ? 'font-semibold text-zinc-900 border-zinc-800' : '' } block border-l-2 border-transparent pl-5 aria-[current]:border-zinc-800 aria-[current]:font-semibold aria-[current]:text-zinc-900 sm:pl-4 hover:text-zinc-900 pr-4 md:text-sm text-2xl" do %>Introduction<% end %></li>
                    <li class="-ml-[2px]"><%= link_to how_to_use_path, class: "#{ current_page?(how_to_use_path) ? 'font-semibold text-zinc-900 border-zinc-800' : '' } block border-l-2 border-transparent pl-5 aria-[current]:border-zinc-800 aria-[current]:font-semibold aria-[current]:text-zinc-900 sm:pl-4 hover:text-zinc-900 pr-4 md:text-sm text-2xl" do %>How to Use<% end %></li>
                    <li class="-ml-[2px]"><%= link_to contribution_path, class: "#{ current_page?(contribution_path) ? 'font-semibold text-zinc-900 border-zinc-800' : '' } block border-l-2 border-transparent pl-5 aria-[current]:border-zinc-800 aria-[current]:font-semibold aria-[current]:text-zinc-900 sm:pl-4 hover:text-zinc-900 pr-4 md:text-sm text-2xl" do %>Contribution<% end %></li>
                </ul>
            </div>

            <!-- Sections -->
            <div class="flex flex-col gap-3 mb-7">
                <h3 class="text-zinc-500 md:text-sm">Sections</h3>
                <ul class="text-zinc-500 flex flex-col gap-3 md:gap-2 border-l-2 border-zinc-200" role="list">
                    <li class="-ml-[2px]"><%= link_to components_tab_path, class: "#{ current_page?(components_tab_path) ? 'font-semibold text-zinc-900 border-zinc-800' : '' } block border-l-2 border-transparent pl-5 aria-[current]:border-zinc-800 aria-[current]:font-semibold aria-[current]:text-zinc-900 sm:pl-4 hover:text-zinc-900 pr-4 md:text-sm text-2xl" do %>Tab<% end %></li>
                    <li class="-ml-[2px]"><%= link_to components_accordion_path, class: "#{ current_page?(components_accordion_path) ? 'font-semibold text-zinc-900 border-zinc-800' : '' } block border-l-2 border-transparent pl-5 aria-[current]:border-zinc-800 aria-[current]:font-semibold aria-[current]:text-zinc-900 sm:pl-4 hover:text-zinc-900 pr-4 md:text-sm text-2xl" do %>Accordion<% end %></li>
                    <li class="-ml-[2px]"><%= link_to components_tooltip_path, class: "#{ current_page?(components_tooltip_path) ? 'font-semibold text-zinc-900 border-zinc-800' : '' } block border-l-2 border-transparent pl-5 aria-[current]:border-zinc-800 aria-[current]:font-semibold aria-[current]:text-zinc-900 sm:pl-4 hover:text-zinc-900 pr-4 md:text-sm text-2xl" do %>Tooltip<% end %></li>
                    <li class="-ml-[2px]"><%= link_to components_dropdown_path, class: "#{ current_page?(components_dropdown_path) ? 'font-semibold text-zinc-900 border-zinc-800' : '' } block border-l-2 border-transparent pl-5 aria-[current]:border-zinc-800 aria-[current]:font-semibold aria-[current]:text-zinc-900 sm:pl-4 hover:text-zinc-900 pr-4 md:text-sm text-2xl" do %>Dropdown<% end %></li>
                    <li class="-ml-[2px]"><%= link_to components_icon_path, class: "#{ current_page?(components_icon_path) ? 'font-semibold text-zinc-900 border-zinc-800' : '' } block border-l-2 border-transparent pl-5 aria-[current]:border-zinc-800 aria-[current]:font-semibold aria-[current]:text-zinc-900 sm:pl-4 hover:text-zinc-900 pr-4 md:text-sm text-2xl" do %>Icon<% end %></li>
                </ul>
            </div>

            <!-- Forms -->
            <div class="flex flex-col gap-3 mb-7">
                <h3 class="text-zinc-500 md:text-sm">Forms</h3>
                <ul class="text-zinc-500 flex flex-col gap-3 md:gap-2 border-l-2 border-zinc-200" role="list">
                    <li class="-ml-[2px]"><%= link_to components_button_path, class: "#{ current_page?(components_button_path) ? 'font-semibold text-zinc-900 border-zinc-800' : '' } block border-l-2 border-transparent pl-5 aria-[current]:border-zinc-800 aria-[current]:font-semibold aria-[current]:text-zinc-900 sm:pl-4 hover:text-zinc-900 pr-4 md:text-sm text-2xl" do %>Button<% end %></li>
                    <li class="-ml-[2px]"><%= link_to components_switch_path, class: "#{ current_page?(components_switch_path) ? 'font-semibold text-zinc-900 border-zinc-800' : '' } block border-l-2 border-transparent pl-5 aria-[current]:border-zinc-800 aria-[current]:font-semibold aria-[current]:text-zinc-900 sm:pl-4 hover:text-zinc-900 pr-4 md:text-sm text-2xl" do %>Switch<% end %></li>
                    <li class="-ml-[2px]"><%= link_to components_input_path, class: "#{ current_page?(components_input_path) ? 'font-semibold text-zinc-900 border-zinc-800' : '' } block border-l-2 border-transparent pl-5 aria-[current]:border-zinc-800 aria-[current]:font-semibold aria-[current]:text-zinc-900 sm:pl-4 hover:text-zinc-900 pr-4 md:text-sm text-2xl" do %>Input<% end %></li>
                </ul>
            </div>

        </div>
    </div>
</nav>