<!DOCTYPE html>
<html>

<head>
    <title><%= content_for?(:title) ? yield(:title) : "Lucky UI" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/html.min.js"></script>

    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
</head>

<body class="bg-white text-zinc-700">
    <div data-controller="nav">
        <!-- Header -->
        <%= render 'shared/header' %>

        <div class="mx-auto max-w-6xl px-4">

            <!-- Sidebar -->
            <%= render 'shared/sidebar' %>

            <!-- Main content -->
            <main class="min-h-screen flex-1 pt-24 m-0 lg:pt-28 lg:ml-60 lg:pl-20 lg:pr-0">
                <div class="mx-auto w-full min-w-0">
                    <%= yield %>
                </div>
            </main>

        </div>
    </div>
</body>

</html>